@font-face {
  font-family: 'JetBrains-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/JetBrainsMono-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'JetBrains-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/JetBrainsMono-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'IceLand';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Iceland-Regular.ttf') format('woff');
}
